.container{
    display: flex;
}
.inp{
    padding: 5px;
    align-items: center;
    min-height: 200px;
    
}
label{
    padding-right: 5px;
}
.num1{
    padding: 5px;
}
.num2{
    padding: 5px;
}
.total{
    padding: 5px;
}
.func{
    display: inline-grid;
    margin-left: 50px;
}
button{
    padding: 5px;
    margin-top: 5px;
    width: 10px;
    width: 80px;
    height: 40px;
}
input{
    width: 130px;
    height: 40px;
    margin: 10px;
}